.product-image {
    text-align: center;
}

.product-thumbnails img {
    cursor: pointer;
    margin-right: 5px;
    width: 60px;
    height: 60px;
}

.sizes button {
    margin-top: 10px;
}

.breadcrumb {
    background-color: transparent;
}
